html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    background-color:   #068f94; 
    color: #fff; 
    padding: 15px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-left: 0.5%;
    font-size: larger;
}
.logo img {
    width: 30px;
    height: auto;
    margin-right: 0px;
}
.logo span {
    margin-left: 10px; /* Add some spacing between icon and text */
}
h1 {
    margin: 0px;
    margin-left: 25px;
    font-size: x-large;
}

footer {
    background-color:    #f6fdfd;  
    color: #0a0707; /* White text color */
    padding: 3px;
    text-align: center;
}
.logo:nth-child(2),
.logo:nth-child(3) {
    flex: 1; /* Distribute remaining space between Q&A and FAQ */
    justify-content: center; /* Align Q&A and FAQ at the center horizontally */
    margin-right: 300px; 
    
}
.ask-button {
    margin-left: 90%; 
    margin-bottom: 70px; 
    width: 56px; 
    height: 56px;
    border-radius: 50%; 
    background-color: #0047ab; 
    color: #fff; 
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.menu-icon {
    font-size: 28px; 
}
.profile-icon {
    margin-left: auto;
    margin-right: 20px; 
}
.large-input {
    width: 40%;
    height: 15%;
    font-size: 20px;
}

