html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header {
    background-color:   #068f94; 
    color: #fff; 
    padding: 15px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 500px;
}
.logo img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}
.logo span {
    margin-left: 5px; /* Add some spacing between icon and text */
}
h1 {
    margin: 0px;
    margin-right: 50px;
}

footer {
    background-color:    #dbe0e0;  
    color: #0a0707; /* White text color */
    padding: 3px;
    text-align: center;
}
.logo:nth-child(2),
.logo:nth-child(3) {
    flex: 1; /* Distribute remaining space between Q&A and FAQ */
    justify-content: center; /* Align Q&A and FAQ at the center horizontally */
}
.ask-button {
    margin-left: 95%; 
    margin-bottom: 20px; 
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    background-color: #0047ab; 
    color: #fff; 
    border: none;
    cursor: pointer;
    font-size: 20px;
}